<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: html(
          ~{::title},
          ~{::content},
          ~{},
          ~{}
      )}">


<title>Create a new product</title>

<th:block th:fragment="content">
    <div class="container mt-5">
        <h1 class="mb-4">Create New Product</h1>
        <form th:object="${product}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" id="description" th:field="*{description}" rows="4"></textarea>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label>
                <input type="number" class="form-control" id="price" th:field="*{price}" step="0.01" required>
            </div>
            <button type="submit" class="btn btn-primary">Create Product</button>
        </form>
    </div>
</th:block>
</html>